<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"</link>
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

        <title>News APP</title>
       <style>.navbar { margin-bottom: 0px;}
       body{
           background:#f1f1f1;
       }
       
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: ' ';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
       </style> 
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            <a href="/" class="navbar-brand" style="color:#ffffff">NewsApp</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="#">categories</a></li>
            <li><a href="#">blogs</a></li>
            <li><a href="#">about</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if(!currentUser){ %>
            <li><a href="/login">LogIn <i class="fas fa-user"></i></a></li>
            <li><a href="/register">SignUp <i class="fas fa-user-plus"></i></a></li>
            <%} else{ %>
            <li><a href="/profilenav"><%= currentUser.username %></a></li>
            <li><a href="/logout">Log out</a></li>
            <% } %>
        </ul>
        </div>
    </nav>
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  
  <% if(error.length>0){%>
<div class="alert alert-danger container" style="margin-top:40px;"><%=error%></div>
<% }if(success.length>0){%>
<div class="alert alert-success container" style="margin-top:40px;"><%=success%></div>
<% } %>

<div clas="row">
    <div class="col-lg-8" style="margin-top:90px;margin-left:60px;background:#ffffff">
         
        <h2 style="tex-align:center"><%= foundp.name %></h2>
        <h3>Uploaded:<%= moment(foundp.createdAt).fromNow() %></h3>
        <h4>Post type:<%= foundp.posttype.toUpperCase() %></h4>
        <h5>Source:<%= foundp.sourceLink %></h5>
        <form action="/show/delete/<%= foundp._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>
        <img src="<%= foundp.image1 %>" style="margin-top:50px;max-width:500px;margin-left:200px;margin-bottom:10px">
        <p style="overflow-wrap:break-word;font-size:20px" >
            <%= foundp.description1 %>
        </p>
        
        <img src="<%= foundp.image2 %>" style="margin-top:20px;max-width:500px;margin-left:200px;margin-bottom:10px">
        <p style="overflow-wrap:break-word;font-size:20px" >
            <%= foundp.description2 %>
        </p>
 
        </div>
        <div class="col-lg-2" style="margin-left:50px;margin-top:70px;width:320px">
            <h2 style="text-align:center">Similar Posts</h2>
            
            <% result.forEach(function(d){ %>
            <a href="/show/<%= d._id %>">
              <div style="background:#ffffff">
            <img src="<%= d.image1 %>" style="max-width:100%;max-height:178px;min-height:178px;min-width:100%">
            <h4 style="margin-left:10px;margin-top:15px;margin-bottom:0px"><strong style="opacity:0.9"><%= d.name %></strong> </h4>  
            <h5 style="margin-left:10px;margin-bottom:15px;padding-bottom:10px"><strong style="opacity:0.7">Uploaded:<%= moment(d.createdAt).fromNow() %></strong></h5>
            </div>
            </a>
            <% }) %>
            
            
            
            
        </div>
    

    <div class="col-lg-8" style="margin-left:70px;margin-top:20px;margin-bottom:40px">
            <h3><strong>Other Tag Posts</strong></h3>
         <div class="autoplay" style="background:#f1f1f1;">
<% otherss.forEach(function(othr){ %>
    <a href="/show/<%= othr._id %>">
    <div style="margin-left:2px;margin:right:2px" >          
  <img src="<%= othr.image1 %>" style="max-width:200px;max-height:123px;min-height:123px;min-width:200px">
  <h5 style="max-width:200px;min-width:200px;-webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3; overflow: hidden; text-overflow: ellipsis; white-space: normal"><%= othr.name %></h5>
  <h6>Tag:<%= othr.posttype %></h6>
  <h6>Uploaded:<%= moment(othr.createdAt).fromNow() %></h6>
  </div>
  </a>
<% }); %>
  

  </div>
          
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function(){
  $('.autoplay').slick({
   slidesToShow: 4,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 1000,
  });
});
</script>

<%- include('partials/footertemplate.ejs'); -%>